.SudokuTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 10px;
}

tr,
table {
  padding: 0px;
}

th {
  border: 1px solid #282c34;
  border-collapse: collapse;
  background-color: rgb(38, 159, 175);
}

.apuva {
  border-style: none;
  background-color: #282c34;
  padding: 0px;
}
